In [10]:
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
import json
import io

In [11]:
products = pd.read_csv('products_list.csv')
products.head()

,name,clean_name,category
0,Alisha Solid Women's Cycling Shorts,alisha solid womens cycling shorts,Clothing
1,Alisha Solid Women's Cycling Shorts,alisha solid womens cycling shorts,Women's Clothing
2,FabHomeDecor Fabric Double Sofa Bed,fabhomedecor fabric double sofa bed,Furniture
3,FabHomeDecor Fabric Double Sofa Bed,fabhomedecor fabric double sofa bed,Living Room Furniture
4,AW Bellies,aw bellies,Footwear

In [12]:
products.category.value_counts()

Clothing                      3028
Women's Clothing              2017
Jewellery                     1956
Automotive                     977
Accessories & Spare parts      907
                              ...
HH Oval Sunglasses               1
REMSON INDIA Women Flats         1
Clocks                           1
Kitchen & Dining Furniture       1
Olvin Aviator Sunglasses         1
Name: category, Length: 72, dtype: int64

In [13]:
tokenizer = Tokenizer(
    num_words=None, filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower=True,
    split=' ', char_level=False, oov_token=None, document_count=0
)
tokenizer.fit_on_texts(products['clean_name'].values)
word_index = tokenizer.word_index
print('Count of unique tokens: %s' % len(word_index))

Count of unique tokens: 6093

In [14]:
# Save the tokenizer which will be used in training and prediction
tokenizer_json = tokenizer.to_json()
with io.open('tokenizer.json', 'w', encoding='utf-8') as f:
    f.write(json.dumps(tokenizer_json, ensure_ascii=False))